---
import Icon from "astro-icon";
import RowEntry from "../components/RowEntry.astro";
import SectionTitle from "../components/SectionTitle.astro";
import SocialIcon from "../components/SocialIcon.astro";

import { SITE_TITLE } from "../config";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{SITE_TITLE}</title>
  </head>
  <body class="dark:bg-black">
    <button id="dark-mode-toggle" class="mb-2 mt-2">
      <Icon name="tabler:sun" class="w-6 h-6 dark:text-white" />
    </button>

    <div class="text-center mb-3">
      <h1 class="text-2xl font-bold mb-1 dark:text-white">Aarnav Singh</h1>
      <h2 class="text-base dark:text-white">
        872 Trails End Rd, Eagan, MN 55123
      </h2>
      <h3 class="text-base dark:text-white">
        <a
          href="tel:+1 651-508-0833"
          class="hover:text-red-500 dark:text-white dark:hover:text-red-500"
          >+1 651-508-0833
        </a>
        |
        <a
          href="mailto:aarnavsingh836@gmail.com"
          class="hover:text-red-500 dark:text-white dark:hover:text-red-500"
          >aarnavsingh836@gmail.com</a
        >
      </h3>
      <h3 class="text-base dark:text-white">
        <a
          href="https://www.linkedin.com/in/aarnavsinghh"
          class="hover:text-red-500 dark:text-white dark:hover:text-red-500"
          >LinkedIn</a
        >
      </h3>
    </div>

    <div id="summary" class="mb-6">
      <SectionTitle title="Summary" />

      <p class="dark:text-white">
        Full-stack developer skilled in creating responsive web applications, custom UI/UX designs, and robust system architecture, proficient in JavaScript, React, Tailwind CSS, and SQL; also possess a strong background in data privacy and security, complemented by experience in leadership roles, a solid academic foundation, and an unwavering work ethic.
      </p>
    </div>

    <div id="technical-experience" class="mb-6">
      <SectionTitle title="Technical Experience" />

      <RowEntry
        description="Developed a fully responsive website using CSS media queries that allowed for a seamless viewing experience across all viewports for a fashion jewelry boutique to showcase their product catalog. Designed 7 webpages including a landing page, alongside a custom hamburger menu, glass morphism product cards, embedded map, real time & date updating counter, and WhatsApp order contact integration using JavaScript and Tailwind CSS that were all individually tested throughout the software development lifecycle and led to a 30% boost in sales."
        name="Jan 2024 - May 2024"
        title="Front-end Developer"
        subTitle="Sparks N Sizzles"
      /><br>

      <RowEntry
        description="Designed and successfully demonstrated a full stack React application that showcased the CARLA chatbot (Campus Assistant for Resources Learning and Accessibility) and provided context aware responses using the OpenAI API to several investors as well as the Minnesota state government. Implemented a user-friendly UI/UX design and built a robust MVP application that clearly illustrated how the software would work across every public college website in the state with a student led team with over 30 developers and 6 mentors with industry experience."
        name="Aug 2023 - Dec 2023"
        title="Software Development Intern"
        subTitle="Seeds of Success"
      /><br>

      <RowEntry
        description="Designed a fully responsive landing page using CSS media queries for a popular restrobar to drive customer engagement and strengthen the online presence of the business. Crafted a customized logo, loading screen, and animated hamburger menu using JavaScript and Tailwind CSS to provide an exceptional UI/UX that is a standalone USP and acts as a clear differentiator when compared to other websites in the same vertical. Incorporated an embedded map, and real-time updating online reservation form to streamline table bookings using MySQL."
        name="May 2023 - Sep 2023"
        title="Web Developer"
        subTitle="Bombay Bar"
      /><br>

      <RowEntry
        description="Developed the only privacy-oriented web application tool for collecting Instagram account analytics on followers and following data already collected by Instagram for both private and public accounts that has been tested by a wide userbase and has a high satisfaction rate. Created a custom JavaScript data extraction algorithm to target, scrape, list, and compare the account data provided by the user. Conceptualized and executed a secure and robust system that never requires user credentials and collects no user data, setting a new industry standard for data protection and integrity."
        name="Jan 2023 - May 2023"
        title="Lead Developer"
        subTitle="Insightful (Instagram Data Analysis Tool)"
      /><br>
    </div>

    <div id="education" class="mb-6">
      <SectionTitle title="Education" />

      <RowEntry
        description="B.S. in Computer Science, 3.7/4.0. Core Coursework: Database Design; Data Structures and Algorithms; Client & Server-Side Web Development; Computer Architecture; Software Engineering; Object Oriented Programming."
        name="Sep 2019 - Dec 2023"
        title="Concordia University Saint Paul"
      /><br>
    </div>

    <div id="certifications" class="mb-6">
      <SectionTitle title="Certifications" />

      <RowEntry 
        description={<a href="https://www.coursera.org/account/accomplishments/verify/S3Y6NJG2DJXV" target="_blank">Data Privacy Fundamentals</a>} 
        name="Northeastern University" 
      /><br>
      <RowEntry 
        description={<a href="https://www.coursera.org/account/accomplishments/verify/YWPSRKWTUPTZ" target="_blank">Information Security</a>} 
        name="University of London" 
      /><br>
      <RowEntry 
        description={<a href="https://www.coursera.org/account/accomplishments/verify/7NMQNL5D575M" target="_blank">Cybersecurity for Everyone</a>} 
        name="University of Maryland" 
      /><br>
      <RowEntry 
        description={<a href="https://www.coursera.org/account/accomplishments/verify/7BVHYMVBXZSB" target="_blank">Introduction to User Experience Design</a>} 
        name="Georgia Institute of Technology" 
      /><br>
      <RowEntry 
        description={<a href="https://www.coursera.org/account/accomplishments/verify/9EHMKZQ475G4" target="_blank">Introduction to Machine Learning</a>} 
        name="Duke University" 
      /><br>
      <RowEntry 
        description={<a href="https://www.coursera.org/account/accomplishments/verify/924D5XNKGSLV" target="_blank">Introduction to Frontend Development</a>} 
        name="Meta" 
      /><br>
      <RowEntry 
        description={<a href="https://www.coursera.org/account/accomplishments/verify/L2YKUB44LDN8" target="_blank">Data Science Math Skills</a>} 
        name="Duke University" 
      /><br>
      <RowEntry 
        description={<a href="https://app.hubspot.com/academy/achievements/h6qd9zww/en/1/aarnav-singh-chhabra/email-marketing" target="_blank">Email Marketing</a>} 
        name="HubSpot" 
      /><br>
    </div>

    <div id="achievements" class="mb-6">
      <SectionTitle title="Achievements" />

      <RowEntry description="Dean’s List Honoree: Maintained a GPA above 3.5/4.0" name="" /><br>
      <RowEntry description="Undergraduate Policy Committee Member: Acted as a liaison between the student body and the head of each department to incorporate a tri semester schedule and transition to a 3-credit course standard." name="" /><br>
      <RowEntry description="Student Senate Member: Represented the entirety of student body in weekly meetings and led 10+ bills creating new organizations and assigning an appropriate amount of funding for each one." name="" /><br>
      <RowEntry description="President of the Indian Student Association: Created the ISA with 2 other founding members to give Indian students a space to celebrate their nationality and spread awareness about our culture." name="" /><br>
      <RowEntry description="Summer Senate Member: Selected as one of 14 delegates led by mentor Dave Racer to have meaningful conversations about racism, policing, safety, justice, and Covid-19 with several well-renowned names such as former Mayor of Woodbury, Mary Giuliani Stephens, Executive Director of the Minnesota Board of Public Defense, William Ward, President of the Minneapolis Police Federation, Bob Kroll, and Senators Jim Abeler, Glenn Gruenhagen, and Scott Jensen." name="" /><br>
    </div>

    <div id="skills" class="mb-6">
      <SectionTitle title="Skills and Interests" />

      <RowEntry description="JavaScript (React), Python, SQL, Java, Node.js, HTML5, CSS3, Tailwind CSS" name="Programming Languages" /><br>
      <RowEntry description="Visual Studio; Git, Android Studio, IntelliJ, Eclipse, Figma" name="Tools and Technologies" /><br>
      <RowEntry description="GitHub, Netlify, Vercel" name="Platforms" /><br>
      <RowEntry description="Leadership roles, teamwork, volunteering" name="Soft Skills" /><br>
    </div>

    <div id="social" class="justify-center flex flex-row mb-2">
      <div class="mr-4">
        <SocialIcon icon="fa-brands:github" label="github" url="https://github.com/aarnav1729" />
      </div>
      <div class="mr-4">
        <SocialIcon icon="fa-brands:linkedin" label="linkedin" url="https://www.linkedin.com/in/aarnavsinghh" />
      </div>
      <div class="mr-4">
        <SocialIcon icon="fa-brands:youtube" label="youtube" url="https://youtu.be/EwDA_tFMOT8" />
      </div>
      <div class="mr-4">
        <SocialIcon icon="ant-design:global-outlined" label="website" url="https://aarnav1729.github.io/SnSLandingPage/" />
      </div>
      <div class="mr-4">
        <SocialIcon icon="ant-design:global-outlined" label="website" url="https://aarnav1729.github.io/tasteofbombay/" />
      </div>
      <div>
        <SocialIcon icon="ant-design:global-outlined" label="website" url="https://insightful-puce.vercel.app/" />
      </div>
    </div>

    <script is:inline>
      if (
        localStorage.theme === "dark" ||
        (!("theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }

      window.onload = function () {
        const element = document.getElementById("dark-mode-toggle");

        if (element) {
          element.addEventListener("click", () => {
            document.documentElement.classList.toggle("dark");

            localStorage.theme = document.documentElement.classList.contains(
              "dark"
            )
              ? "dark"
              : "light";
          });
        }
      };
    </script>
  </body>
</html>
