---
export interface Props {
  name: string;
  title?: string;
  subTitle?: string;
}

const { name, title, subTitle } = Astro.props;
---

<div class="flex flex-row dark:text-white RowEntry">
  <div class="w-32">{name}</div>
  <div class="flex-1">
    <div>
      {title && <span class="font-bold">{title}</span>}
      {subTitle && <span>{subTitle}</span>}
    </div>
    <slot></slot> 
  </div>
</div>