---
export interface Props {
  name: string;
  title?: string;
  subTitle?: string;
}

const { name, title, subTitle } = Astro.props;
---

<div class="row-entry">
  <div class="entry-date">{name}</div>
  <div class="entry-content">
    {title && <div class="entry-title">{title}</div>}
    {subTitle && <div class="entry-subtitle">{subTitle}</div>}
    <slot></slot>
  </div>
</div>
